.about-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    background-color: #0c0c0c;
}

.about-p,
.about-image {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }

.about-p{
    margin-left: 50px;
}

.about-p p{
    width: 80%;
    margin-bottom: 40px;
    font-size: 1.6rem;
    color: #fcca92;
}

.about-p span{
    color: #FF8A00;
}

.about-image {
    height: 100vh;
    background-size: cover; 
    background-position: center bottom; 
}



.skills-button{
    padding:15px 25px;
    background-color: #FCAA4A;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s,;
}

.skills-button svg{
    position: relative;
    left: 10px;
    top: 1px;
    transition: transform 0.3s;
}

.skills-button:hover{
    background-color: #141313;
    border: 1px solid #FF8A00;
    color: #FF8A00;
}

.skills-button:hover svg {
    transform: rotate(90deg);
  }

.skills-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.skills-container{
    display: flex;
    justify-content: space-between;
}

.skills-text {
    align-self: end;
    width: 60%;
    font-size: 1.6rem;
    color: #FCAA4A;
    transition: all 0.4s ease;
  }
  
  .skills-name {
    display: flex;
    align-items: center;
    width: 200px; 
    height: 50px;
    padding-left: 30px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #FCAA4A;
    font-size: 2rem;
    color: #0c0c0c;
    transition: width 0.4s ease;
  }
  
.skills-container:hover .skills-name {
    background-color: #FF8A00;
    width: 250px;
  }
  
  .skills-container:hover .skills-text {
    color: #FF8A00; 
  }

  @media screen and (max-width: 1000px) {
    .about-page{
        flex-direction: column-reverse;
        margin-top: 40px;
        justify-content: center;
        align-items: center;
    }

    .about-p,
    .about-image {
    width: 80%;
    padding: 0;
  }

    .about-p{
        margin-left: 0;
        margin-bottom: 50px;
    }

    .about-p p{
        width: 100%;
    }

    .about-image {
        height: 60vh;
    }

    .skills-container{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .skills-container p{
        align-self: start;
        width: 100%;
        font-size: 1.5rem;
    }

    .skills-page{
        height: auto;
    }

    .skills-name {
        width: 200px;
        height: 45px;
        padding-left: 30px;
        border-top-right-radius: 25px; 
        border-bottom-right-radius: 25px;
        background-color: #FCAA4A;
        font-size: 2rem;
        color: #0c0c0c;
      }
  }