.home-page{
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/herobg.png');
  background-size: cover; 
  background-repeat: no-repeat; 
}

.home-page h1{
    color: #FCAA4A;
    letter-spacing: 2px;
    margin-top: 300px;
    font-size: 5rem;
    font-family: "Montserrat Regular";
}

.home-page h1 span{
    color: #FF8A00;
    font-family: "Montserrat Thin";
}

.text-zone {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.flat-button{
    padding:15px 25px;
    background-color: #FCAA4A;
    font-size: 2rem;
    color: #000;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.3s,;
}

.flat-button svg{
    position: relative;
    left: 10px;
    top: 1px;
    transition: transform 0.3s;
}

.flat-button:hover{
    background-color: #141313;
    border: 1px solid #FF8A00;
    color: #FF8A00;
}

@media screen and (max-width: 660px) {
    .home-page{
        height: 90vh;
    }

    .home-page h1{
        letter-spacing: 2px;
        margin-top: 300px;
        font-size: 3.2rem;
    }

    .flat-button{
        padding:10px 20px;
        font-size: 1.7rem;
    }
}
