
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
}

.nav a{
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease 0s;
    letter-spacing: 2px;
    color: #FF8A00;
}

.nav a:hover{
    color: #FFCC90;
}

.nav a p{
    margin-bottom: 5px;
}

.nav a::after{
    display: block;
    content: "";
    width: 0;
    height: 1px;
    margin: auto;
    transition: width 0.2s ease 0s;
}

.nav a:hover::after{
    width: 100%;
    background: #FFCC90;
}

.nav a.active {
    color: #FFCC90;
}

.nav a.active::after{
    width: 100%;
    background: #FFCC90;
}

.toggle-mode svg{
    font-size: 22px;
    cursor:pointer;
}

.home-icon svg{
    font-size: 22px;
}





