.navbar {
     display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0c0c0c;
    z-index: 1000;
    background-color: rgba(12, 12, 12, 0.8);
    backdrop-filter: blur(10px);
  }
  
  .navbar-logo {
    font-size: 2rem;
    cursor: pointer;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  
  .nav-item {
    display: flex;
  }
  
  .nav-links {
    padding: 0px 20px;
    text-decoration: none;
    letter-spacing: 2px;
    color: #FF8A00;
    transition: all 0.2s ease 0s;
    font-size: 1.6rem;
  }
  
  .nav-links:hover {
    color: #FFCC90;
  }

  .nav-links::after {
    display: block;
    width: 0;
    height: 1px;
    margin: auto;
    content: "";
    transition: width 0.2s ease 0s;
}
  

.nav-links:hover::after {
  width: 100%;
  background: #FFCC90;
}

.nav-links.active {
  color: #FFCC90;
}

.nav-links.active::after {
  width: 100%;
  background: #FFCC90;
}

.fa-bars {
  color: #FF8A00;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}
  
  @media screen and (max-width: 660px) {
    ul{
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
    }

    
    .navbar {
      background: #0c0c0c;
      height: 55px;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 50px;
      left: -100%;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #0c0c0c;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 100;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
    }
  
    .nav-links:hover {
      border-radius: 0;
    }

    .nav-links.active::after {
      background: none;
    }

    .nav-links:hover::after {
      width: 0;
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 20px;
      transform: translate(25%, 50%);

    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 15px;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      z-index: 200;
    }
  }