@font-face {
    font-family: "Montserrat Regular";
    src: url(./assets/fonts/Montserrat-Regular.ttf) format("ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: url(./assets/fonts/Montserrat-Light.ttf) format("ttf");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url(./assets/fonts/Montserrat-Bold.ttf) format("ttf");
}

@font-face {
    font-family: "Montserrat ExtraLight";
    src: url(./assets/fonts/Montserrat-ExtraLight.ttf) format("ttf");
}

@font-face {
    font-family: "Montserrat Thin";
    src: url(./assets/fonts/Montserrat-Thin.ttf) format("ttf");
}