.container-carousel{
  margin-top: 100px;
  height: 80vh;
  text-align: center;
}

.swiper-container {
    margin: 0 auto;
    height: 65vh;
}
  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}

.swiper-pagination-bullet-active {
  background: #FF8A00;
}

.swiper-button-prev:after, .swiper-button-next:after{
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ff880062; 
  backdrop-filter: blur(5px);
}


.swiper-button-prev .fa-chevron-left,
.swiper-button-next .fa-chevron-right {
  height: 20px;
  color: #FF8A00; 
  z-index: 1; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

@media screen and (max-width: 550px) {
  .container-carousel h2{
    font-size: 2.3rem;
  }
  .swiper-button-prev .fa-chevron-left,
  .swiper-button-next .fa-chevron-right {
  height: 15px;
  } 

  .swiper-button-prev,
.swiper-button-next {
  background-color: rgba(12, 12, 12, 0.8);
}
}
 