.container-carousel{
  margin-top: 100px;
  height: 100vh;
  text-align: center;
}

.swiper-container {
    margin: 0 auto;
    height: 75vh;
}
  
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
}

.swiper-slide img {
  width: 100%;
  height: 70vh;
  max-width: 450px;
  object-fit: cover;
  user-select: none;
  transition: all 0.4s ease;
}

.swiper-slide img:hover {
  filter: blur(4px);
  opacity: 0.6;
  transform: scale(1.1);
}

.link-item {
  overflow: hidden;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-size: 2.5rem;
  color: #fff;
  user-select: none;
  pointer-events: none;
}

.hover-text:hover {
  opacity: 1;

}

.link-item:hover .hover-text {
  opacity: 1;

}


.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: #fff;
}

.swiper-pagination-bullet-active {
  background: #FF8A00;
}

.swiper-button-prev:after, .swiper-button-next:after{
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(12, 12, 12, 0.8);
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #ff880062; 
  backdrop-filter: blur(5px);
}


.swiper-button-prev .fa-chevron-left,
.swiper-button-next .fa-chevron-right {
  height: 20px;
  color: #FF8A00; 
  z-index: 1; 
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.demo-button{
  padding:15px 25px;
  background-color: #FCAA4A;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.3s,;
  position: relative;
}

.demo-button:hover{
  background-color: #141313;
  border: 1px solid #FF8A00;
  color: #FF8A00;
}

@media screen and (max-width: 550px) {
  .container-carousel h2{
    font-size: 2.3rem;
  }
  .swiper-button-prev .fa-chevron-left,
  .swiper-button-next .fa-chevron-right {
  height: 15px;
  } 

  .swiper-button-prev,
.swiper-button-next {
  background-color: rgba(12, 12, 12, 0.8);
}
}
 